@import url('../assets/fonts/Lexend/font.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100...900&display=swap'); */

.normal-theme {
  --hover-link-color: #fff;
  --active-link-color: #f80381;
  --background-color: #282c34;
  --font-color: #fff;
  --font-muted-color: #ffffff60;
  --font-extra-muted-color: #ffffff20;
  --danger-color: #e64242;
  --contrast-color: #f80381;
  --contrast-color-fade: #f8038160;
  --contrast-color-tint: #f36fb3;
  --contrast-font: 'Playfair Display', serif;
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--font-color);
}

.dark-theme {
  --active-link-color: rgb(68, 255, 246);
  background: #444;
  color: #eee;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}