.tools-display .bubble {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background: var(--font-color);
}
.tools-display .bubble p {
  display:inline-block;
  color:transparent;
  font-size: 1.5rem;
}
.tools-display .bubble p span {
  background: url('../../../assets/images/risk.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display:block;
}