.sidenav nav, .sidenav .sidenav-toggler {
  z-index: 1050;
}

.sidenav nav{
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #343441;
  box-shadow: 3px 0 4px #00000030;
  transition: .3s;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  padding: 1rem .5rem;
  color: var(--font-color);
}
nav .nav-link-container {
  position: relative;
}
nav .nav-link-container a {
  display: flex;
  position: inherit;
}
nav .nav-link-container:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}

nav .nav-link-container a:hover {
  background-color: var(--font-color);
}
nav a.active {
  color: var(--active-link-color);
}
nav .nav-link-container a.active, nav .nav-link-container a:not(.active):hover {
  color: var(--active-link-color);
  text-transform: uppercase;
  background-color: var(--font-color);
  font-weight: 800;
}

nav .nav-link-container a.active:after {
  content: '///';
  position: relative;
  top: 0;
  right: 0;
  text-align: end;
  height: auto;
  width: 90%;
  padding: 0 .5rem;
  overflow: hidden;
  color: var(--contrast-color);
  background-color: var(--font-color);
  animation: space-letters ease-out .2s forwards;
}

@keyframes space-letters {
  0%  {letter-spacing: 1rem;}
  100% {letter-spacing: 0;}
}


@keyframes sliding-background {
  0%    { transform: skew(-15deg); left: -30px}
  15%   { transform: skew(-15deg); left: 110%; }
  100%  { transform: skew(-15deg); left: 110%; }
}

.sidenav nav.toggled{
  left: 0;
  transition: .3s;
}

.sidenav .sidenav-toggler {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  transition: .3s;
}

.sidenav .sidenav-toggler.toggled {
  left: 255px;
  transition: .3s;
}

.sidenav-toggler.toggled .sidenav-toggler-title {
  background: linear-gradient(to right, #1e1d24, var(--background-color));
}

.sidenav-toggler.toggled .sidenav-toggler-title i {
  animation: rotate-burger .3s ease-out forwards;
}

@keyframes rotate-burger {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(450deg);}
}

.sidenav-toggler .sidenav-toggler-title {
  border: solid 1px transparent;
  transition: .3s;
}
.sidenav-toggler .sidenav-toggler-title:hover {
  cursor: pointer;
  font-weight: 600;
  background: var(--font-color);
  color: var(--active-link-color);
}

.sidenav-toggler .sidenav-toggler-title i {
  animation: rotate-burger .3s ease-out reverse forwards;
  transition: 0s;
}
